/.vscode
/build
/node_modules
/src
/test
/typings

.babelrc
.editorconfig
.eslintignore
.eslintrc
.gitignore
.npmignore
.travis.yml

gulpfile.babel.js
tsconfig.json
tslint.json
typings.json
wallaby.js
webpack.config.js

/gulp-tsc-tmp-*
npm-debug.log
.gulp-tsc-tmp-*.ts
